// words list module

.words-list {
	clear:both;
	display:flex;
	flex-flow: row wrap;
	justify-content:flex-start;
	align-items:flex-start;
	margin-bottom:3vw;
	
	@include respond-to(tablet-landscape) { 
		margin-bottom:40px;
	}
	
	.word {
		width:33%;
		// margin-bottom:6vw;
		padding:3%;
		text-align:center;
		
		@include respond-to(phone-landscape) { 
	    	// width:16.66%;
	    	padding: 3%;
	    	// padding:0 3%;
	    	// margin-bottom:3vw;
	    }
		
		@include respond-to(tablet) { 
	    	width:25%;
	    	// margin-bottom:3vw;
	    }
	    
	    @include respond-to(tablet-landscape) { 
	    	width:16.66%;
	    	padding:3%;
	    	// padding:0 3%;
	    	// margin-bottom:40px;
	    }
	    
	    @include respond-to(widescreen) { 
	    	width:12.5%;
	    	padding:0 2%;
	    	// margin-bottom:40px;
	    }
		
		img {
			width:auto;
			height:18vw;
			
			@include respond-to(phone-landscape) { 
		    	height:12vw;
		    }
			
			@include respond-to(tablet) { 
		    	height:12vw;
		    }
		    
		    @include respond-to(tablet-landscape) { 
		    	height:6vw;
		    }
		}
		
		h3 {
			font-weight:400;
			@include font-size(1.8);
			margin-bottom:0.3em;
			
			@include respond-to(tablet) { 
				@include font-size(2.0);
			}
		}
	}
	
}


// word score bars

.word-score {
	position:relative;
	background-color:$grey-mid;

		
	.bar {
		position:absolute;
		z-index:2;
		left:0;
		top:0;
		
		&.good {
			background-color:$green;
		}
		
		&.ok {
			background-color:$orange;
		}
		
		&.bad {
			background-color:$red;
		}
	}
		
	&.big {
		height:60px;
		border-radius:30px;
		
		.bar {
			height:60px;
			border-radius:30px;
		}
	}
	
	
	&.mini {
		background-color:$grey-mid;
		height:16px;
		border-radius:8px;
		width: 60%;
		margin: 0 auto;

		@include respond-to(tablet) { 
			width: 50%;
		}
		
		.bar {
			height:16px;
			border-radius:8px;
		}
	}

}