<div class="container">
	<div class="loader" *ngIf="!loaded"></div>
</div>

<div id="new-words" class="connect-module container" *ngIf="loaded">
	
	<h2>New words</h2>
	<!-- <p class="module-tip">Tap to hear the word.</p> -->
	<div class="words-list">
		<ng-container *ngIf="!(words$ | async)?.length">
			<p class="alert-message">Check back after {{ displayName$ | async}} has played some games!</p>
		</ng-container>
        <ng-container *ngIf="(words$ | async)?.length">
			<ng-container *ngIf="(words$ | async) as word  ; else loading">
				<div class="result" *ngFor="let word of (words$ | async)" class="word">
					<img src="assets/vocab/{{word.word}}.png"/>
					<h3>{{ word.displayName }}</h3>
					<div class="word-score mini">
						<span class="bar ok" [ngStyle]="{ 'width': (word.p || 0)+'%' }  "></span>
					</div>
				</div>
			</ng-container>
		</ng-container>

		<ng-template #loading>
			<div class="spinner"></div>				
		</ng-template>
	</div>
	
	<a class="button main-cta"
	   *ngIf="(words$ | async)?.length" 
	   [routerLink]="['..' , 'words']">All {{ displayName$ | async}}'s words</a>
	
</div>