<!-- <p>insights works!</p> -->
<!-- 

<a [routerLink]="['../..', 'curriculum']">
    curriculum
</a> -->

<div class="connect-content">
	<app-new-words></app-new-words>
</div>

<div class="effort-content container">
    <app-insights-effort></app-insights-effort>
    <app-insights-progress></app-insights-progress>
</div>
<!--  -->
<!-- <div class="recent-content container"> -->
	<!-- <app-recent-topics></app-recent-topics> -->
<!-- </div> -->

<!-- // hide this component till we have data to demo -->
<!-- <div class="learning-packs container">
	<app-learning-packs></app-learning-packs>
</div> -->
